@model LocalNews.Models.ResetPasswordModelStepOne
@{
    ViewBag.Title = "Password reset step 1";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm("PasswordResetStepOne", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Password reset step 1 form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { Value = ViewBag.username })
            </li>
        </ol>
        <input type="submit" value="Submit" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
